body{
    /*text-align: center;*/
    color:white;
        background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
}
form{
    width: 640px;
    background-color: rgb(39, 38, 69);
    color:white;
    margin: 0 auto;
    padding: 30px;
}
#name, #email, #number, select{
    width: 606px;    
}
textarea{
    width: 606px;
    height: 100px;
}

button{
    background-color: #37AF65;
    color: white;
    width: 606px;
    height: 30px;
}
header {
    text-align: center;
}
